.vscode
.vscode/*

.idea
.idea/*

node_modules
node_modules/*

data/generated
data/generated/*

data/uploads
data/uploads/*

data/logos
data/logos/*

build
build/*

tmp
tmp/*

.env
.env.example
tsconfig.tsbuildinfo